{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/groups.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Groups Management</h1>
    <div class="row mt-4">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Group Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="groups-table-body">
                    <!-- Data will be populated dynamically with JS -->
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h4>Add New Group</h4>
            <form id="add-group-form">
                <div class="form-group">
                    <label for="group-name">Group Name</label>
                    <input type="text" id="group-name" class="form-control" placeholder="Enter group name" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Add Group</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/groups.js' %}"></script>
{% endblock %}
