{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
{% endblock %}

{% block content %}
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        Swal.fire({
            icon: 'error',
            title: 'Access Denied',
            text: 'You do not have permission to access this page.',
            confirmButtonText: 'Go Back',
            confirmButtonColor: '#6c5ce7',
        }).then(() => {
            window.location.href = "{% url 'admin_login' %}";
        });
    });
</script>
{% endblock %}
